@import url(@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
</style>);



*{
    margin: 0;
    padding: 0;
}


body{
      font-family: "Changa One", sans-serif;
    background-color: brown;
}
.cabecalho{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
}